# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

lastupdate.tmp
restfulapi-beego
main
ca.key
*.srl
*.csr
commentsRouter____________*
beagonsLogs
/beagonsLogs
beagonsLogs/beagonsRequest.*
/beagonsLogs/beagonsRequest.*


