<html>
  <head>
    <title>AlumnoUNI - App</title>
    <link href="/assets/css/application.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="/assets/images/favicon.ico" />
    <!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->
    <!--[if IE 9]>
        <link href="css/application-ie9-part2.css" rel="stylesheet">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
         chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
         https://code.google.com/p/chromium/issues/detail?id=332189
         */
    </script>
  </head>
  <body>
    <div class="container">
      <main id="content" class="widget-login-container" role="main">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-xs-10 col-lg-offset-4 col-sm-offset-3 col-xs-offset-1">
            <h4 class="widget-login-logo animated fadeInUp">
              <i class="fa fa-circle text-gray"></i>
                AlumnoUNI App
              <i class="fa fa-circle text-warning"></i>
            </h4>
            <section class="widget widget-login animated fadeInUp">
              <header>
                <h3>Descarga nuestra app!!</h3>
              </header>
              <div class="widget-body">
                <p class="widget-login-info">
                  Disponible para dispositivos Android.
                </p>
                <form class="login-form mt-lg">
                  <div class="form-group">
                    <a href="/mobile/AlumnoUNI.apk" class="btn btn-success">Android</a>
                  </div>
                  <!--<div class="clearfix">
                    <div class="form-group">
                      <a href="/contactUs" class="btn btn-default btn-sm">Contactenos</a>
                      <a href="/" class="btn btn-inverse btn-sm">Volver a inicio</a>
                      <a href="/dashboard" class="btn btn-default btn-sm">Dashboard</a>
                    </div>
                  </div>-->
                </form>
              </div>
            </section>
          </div>
        </div>
      </main>
      <footer class="page-footer" style="padding:25px;text-align:center;">
        <p> <strong>Copyright &copy; 2017 ~ AlumnoUNI</strong></p>
      </footer>
    </div>
  </body>
</html>
