<html>
  <head>
    <title>BeaGons! - Contact Us</title>
    <link href="/assets/css/application.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="/assets/images/favicon.ico" />
    <!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->
    <!--[if IE 9]>
        <link href="css/application-ie9-part2.css" rel="stylesheet">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
         chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
         https://code.google.com/p/chromium/issues/detail?id=332189
         */
    </script>
  </head>
  <body>
    <div class="container">
      <main id="content" class="widget-login-container" role="main">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-xs-10 col-lg-offset-4 col-sm-offset-3 col-xs-offset-1">
            <h4 class="widget-login-logo animated fadeInUp">
              <i class="fa fa-circle text-gray"></i>
                Contactanos
              <i class="fa fa-circle text-warning"></i>
            </h4>
            <form name="form" role="form" action="/contactUs" method="post">
              <div class="form-group">
                <label for="nombres">Nombres</label>
                <input type="text" name="nombres" id="nombres" class="form-control" required />
              </div>
              <div class="form-group">
                <label for="apellidos">Apellidos</label>
                <input type="text" name="apellidos" id="apellidos" class="form-control" required />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="beagons@example.com" required />
                <span style="margin: 10px 0px;padding:12px;color: #D8000C;background-color: #FFBABA;display: {{.Correct}}" class="help-block">
                  <i class="fa fa-times-circle"></i>
                    Email Incorrecto
                </span>
              </div>
              <div class="form-group">
                <label for="telefono">Celular</label>
                <input type="text" name="telefono" id="telefono" class="form-control" required/>
              </div>
              <div class="form-group">
                <label for="message">Detalles del mensaje
                  <em></em>
                </label>
                <textarea placeholder="Otros datos que crea conveniente, motivos por los cuales necesitaria del servicio o desea comunicarse con nosotros" name="message" id="message" cols="50" rows="8"></textarea>
              </div>
              <div class="clearfix">
                <input type="submit" class="btn btn-primary" value="Enviar">
                <a href="/" class="btn btn-link">Regresar</a>
              </div>
            </form>
          </div>
        </div>
      </main>
      <footer class="page-footer" style="padding:25px;text-align:center;">
        <p> <strong>Copyright &copy; 2017 ~ BeaGons</strong></p>
      </footer>
    </div>
  </body>
</html>
