.<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <div class="col-md-10 col-lg-5">
      <section class="widget">
        <header>
          <h3>
            Respuesta de contacto</br>
          </h3>
        </header>
        <div>
          <p> Buenas <strong>{{.Name}} {{.Last}}</strong></p>
          <p>Gracias por contactarse con nosotros, nos comunicaremos contigo en la brevedad posible.</p>
        </div>
      </section>
    </div>
    <footer class="page-footer" style="padding:25px;text-align:center;">
      <p> <strong>Copyright &copy; 2017 ~ BeaGons</strong></p>
    </footer>
  </body>
</html>
