.<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h3> Correo enviado desde la solicitud del servicio BeaGons! </h3>
    <div class="col-md-10 col-lg-5">
      <section class="widget">
        <header>
          <h4>
            Solicitud de servicio</br>
          </h4>
        </header>
        <div>
          <p> Nombres: {{.Name}} </p>
          <p> Apellidos: {{.Last}} </p>
          <p> Email: {{.Email}} </p>
          <p> Telefono: {{.Telefono}} </p>
          <p> Mensaje: {{.Message}} </p>
        </div>
      </section>
    </div>
    <footer class="page-footer" style="padding:25px;text-align:center;">
      <p> <strong>Copyright &copy; 2017 ~ BeaGons</strong></p>
    </footer>
  </body>
</html>
