<html>
  <head>
    <title>BeaGons! - NotFound</title>
    <link href="/assets/css/application.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="/assets/images/favicon.ico" />
    <!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->
    <!--[if IE 9]>
        <link href="css/application-ie9-part2.css" rel="stylesheet">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
         chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
         https://code.google.com/p/chromium/issues/detail?id=332189
         */
    </script>
  </head>
  <body>
    <div class="container">
      <main id="content" class="error-container" role="main">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-xs-10 col-lg-offset-4 col-sm-offset-3 col-xs-offset-1">
            <div class="error-container">
              <h1 class="error-code">404</h1>
              <p class="error-info">
                Opps, esta página no existe.
              </p>
              <p class="error-help mb">
                Si estas seguro que si, comunícate con nosotros o vuelve a intentar.
              </p>
              <!--
              <div class="form-group">
                <input class="form-control input-no-border" type="text" placeholder="Search Pages">
              </div>-->
              <div class="clearfix">
                <div class="btn-toolbar">
                  <a href="/" class="btn btn-inverse">
                    Inicio <!--<i class="fa fa-search text-warning ml-xs"></i>-->
                  </a>
                  <a href="/dashboard" class="btn btn-inverse">
                    Login <!--<i class="fa fa-search text-warning ml-xs"></i>-->
                  </a>
                  <a href="/contactUs" class="btn btn-inverse">
                    Contactenos <!--<i class="fa fa-search text-warning ml-xs"></i>-->
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="page-footer" style="padding:25px;text-align:center;">
        <p> <strong>Copyright &copy; 2017 ~ BeaGons</strong></p>
      </footer>
    </div>
  </body>
</html>
