<h1 class="page-title">Charts - <span class="fw-semi-bold">Historico</span></h1>
<ol class="breadcrumb">
  <li>Se entuentra en:</li>
  <li class="active">Historico</li>
</ol>
<section class="container content-section" ng-controller="chartsHistoricoController">
  <div class="row">
    <div class="col-md-11 col-lg-2">
      <section class="widget">
        <header>
          <h4>
            Id<span class="fw-semi-bold">{{app.usr}}</span>
          </h4>
        </header>
        <div class="widget-body">
          <select ng-model="dispositivo">
            <option ng-repeat="idcansat in cansats" value="{{idcansat.id_moduleiot}}">
            {{idcansat.id_moduleiot}}
            </option>
          </select>
        </div>
      </section>
    </div>
    <div class="col-md-8 col-lg-2">
      <section class="widget">
        <header>
          <h4>
            Dia <span class="fw-semi-bold">Inicial</span>
          </h4>
        </header>
        <div class="widget-body input-group">
          <span class="input-group-addon">
            <input id="datepickerInit" ng-model="diaInicial" size="9" type="text"/>
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </section>
    </div>
    <div class="col-md-8 col-lg-2">
      <section class="widget">
        <header>
          <h4>
            Dia <span class="fw-semi-bold">Final</span>
          </h4>
        </header>
        <div class="widget-body input-group">
          <span class="input-group-addon">
            <input id="datepickerFin" ng-model="diaFinal" size="9" type="text"/>
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </section>
    </div>
    <div class="col-md-8 col-lg-2">
      <section class="widget">
        <header>
          <h4>
            Hora <span class="fw-semi-bold">Incial</span>
          </h4>
        </header>
        <div class="widget-body input-group">
          <span class="input-group-addon">
            <input id="clockInit" ng-model="horaInicial" size="8" type="text">
            <span class="glyphicon glyphicon-time"></span>
          </span>
        </div>
      </section>
    </div>
    <div class="col-md-8 col-lg-2">
      <section class="widget">
        <header>
          <h4>
            Hora <span class="fw-semi-bold">Final</span>
          </h4>
        </header>
        <div class="widget-body input-group">
          <span class="input-group-addon">
            <input id="clockFinal" ng-model="horaFinal" size="8" type="text">
            <span class="glyphicon glyphicon-time"></span>
          </span>
        </div>
      </section>
    </div>
    <div class="col-md-8 col-lg-2">
      <section class="widget">
        <header>
          <h4>
            Num <span class="fw-semi-bold">Datos</span>
          </h4>
        </header>
        <div class="widget-body">
          <select ng-model="ultimodato">
            <option value="--">--</option>
            <option value="1">1</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="500">500</option>
          </select>
        </div>
      </section>
    </div>
  </div ng-show="showT">
    <div class="col-md-10 col-lg-11" ng-if="tempShow">
      <section class="widget">
        <header>
          <h4>
            Grafica de los datos sensados Temperatura
          </h4>
        </header>
        <div id="tempChartHistorico" style="height:280px;">
          <svg></svg>
        </div>
      </section>
    </div>
    <div class="col-md-10 col-lg-11" ng-if="presionShow">
      <section class="widget">
        <header>
          <h4>
            Grafica de los datos sensados Presion
          </h4>
        </header>
        <div id="presionChartHistorico" style="height:280px;">
          <svg></svg>
        </div>
      </section>
    </div>
    <div class="col-md-10 col-lg-11" ng-if="monoxidoShow">
      <section class="widget">
        <header>
          <h4>
            Grafica de los datos sensados Monoxido
          </h4>
        </header>
        <div id="monoxidoChartHistorico" style="height:280px;">
          <svg></svg>
        </div>
      </section>
    </div>
    <div class="col-md-10 col-lg-11" ng-if="dioxidoShow">
      <section class="widget">
        <header>
          <h4>
            Grafica de los datos sensados Dioxido
          </h4>
        </header>
        <div id="dioxidoChartHistorico" style="height:280px;">
          <svg></svg>
        </div>
      </section>
    </div>
    <div class="col-lg-10 col-xg-10" ng-if="emptyData">
      <section>
        <header>
          <h4>
            <span class="fw-semi-bold">Datos no disponibles</span>
          </h4>
        </header>
        <div>
          <li> No hay data sensada de este sensor en este modulo</li>
        </div>
      </section>
    </div>
  </div>
</section>

